.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.navbar-collapse {
  float: left;
}
h1.top_heading {
  margin-top: 50px !important;
}
.content {
  margin: auto;
  width: 1215px;
  display: block;
  padding-top: 60px;
}
.song {
  width: 300px;
  display: inline-block;
}
.song .rate {
  text-align: center;
  font-weight: bold;
  font-size: 26px;
  color: gray;
  margin-top: 10px;
}
.song .desc {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.br-widget {
  height: 25px;
  display: block;
  margin: auto;
  width: 120px;
  margin-bottom: 35px;
  display: none;
}
.br-widget a {
    background: url('../img/pics/star_empty2.png');
    width: 24px;
    height: 24px;
    display: block;
    float: left;
    z-index: 10;
}
.br-selected, .br-active {
    background: url('../img/pics/star_blue.png') !important;
}
.br-current-rating {
  display: none;
}
.br-current {
  background: url('../img/pics/star_empty2.png');
}
p.nickname {
  font-size: 18px;
  color: white;
  text-align: right;
  display: block;
  float: right;
  margin: 0px;
  margin-top: 5px;
  margin-right: 20px;
}
img.avatar {
  width: 45px;
  height: 45px;
  margin-top: -5px;
  margin-bottom: -5px;
  float: right;
  margin-right: 10px;
}
.personal {
  display: block;
  float: right;
  display: none;
}


.navbar-brand {
  font-weight: bold;
  font-size: 26px !important;
}
.glyphicon-search {
  margin-left: -30px;
  margin-right: 20px;
}
.rounded {
  border-radius: 15px !important;
}
.not_found {
  margin-top: 150px;
  text-align: center;
}
.wrong_creds {
  margin-top: 70px;
  text-align: center;
  font-weight: bold;
  color: maroon;
  font-size: 20px;
}
#logged_in {
  float: left;
}
#logged_out {
  float: right;
  display: none;
}









.song_page {
  margin-top: 60px;
  margin-left: 30px;
}








.v_registration {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
  margin-top: 40px;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
box-shadow: 1px 1px 2px
    rgba(0, 0, 0, 0.9), 1px 0 8px 
    rgba(102, 175, 233, 0.6);
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin h2 {
  text-align: center;
}





.v_success {
  margin: auto;
  margin-top: 220px;
  display: block;
  width: 270px;
}
.v_success a {
  margin: auto;
  display: block;
  width: 150px;
}
.v_success p {
  text-align: center;
}